@layer utilities {
    /*
		Effects
	*/
    .cubic {
        transition-timing-function: cubic-bezier(0, 0, 0.5, 1);
    }

    .custom-scrollbar::-webkit-scrollbar {
        @apply h-5;
        @apply w-5;

        @apply rounded-md;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        @apply rounded-md;

        @apply bg-neutral-100;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        @apply rounded-md;

        @apply bg-highlight;
    }

    .in-out-smooth {
        transition-property: all;
        transition-duration: 0.25s;
        transition-delay: 0s;

        @apply cubic;
    }

    /*
		Layout
	*/
    .gutter {
        @apply px-7;

        @apply md:px-8;

        @apply lg:px-9;
    }

    /*
		Links
	*/
    .opacity-link {
        @apply focus:opacity-75;
        @apply hover:opacity-75;
    }

    .underline-link {
        @apply pb-2;

        @apply border-b;
        @apply border-current;
    }
}
